* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --blanc: rgb(252, 252, 252);
  --rouge: #ff0000;
}

body {
  font-family: cursive;
  background-color: #2c2c2c;
}

input[type="text"] {
  padding-left: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}

input[type="search"] {
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}

input[type="submit"] {
  cursor: pointer;
}

header {
  height: 100vh;
  /* height: 625px; */
  /* background-color: aquamarine; */
}

a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: bolder;
}

/* ________________________________________ navbar _______________________________ */

nav {
  display: flex;
  height: 8%;
  /* background-color: var(--red); */
  background-color: #2c2c2c;
}

.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
  /* background-color: #0f781b; */
}

.nav_logo_containt {
  display: flex;
  height: 60%;
  width: 80%;
  /* background-color: #d3078b; */
}

.nav_logo_image {
  height: 100%;
  width: 30%;
  /* background-color: #b6ed01; */
}

.nav_logo_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.nav_logo_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  /* background-color: #3d07d3; */
}

.nav_logo_text p {
  white-space: nowrap;
  height: 80%;
  width: 70%;
  color: rgb(186, 186, 186);
}

.nav_item {
  display: flex;
  align-items: center;
  height: 100%;
  width: 55%;
  /* background-color: #e3e300; */
}

.nav_item ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2600e3; */
  cursor: pointer;
  list-style: none;
}

.nav_item ul li {
  color: #f2f2f2;
  margin-left: 60px;
}

.nav_item ul li:hover {
  color: #c2c2c2;
}

.nav_notif {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  width: 30%;
  height: 100%;
  /* background-color: #0513b0; */
}

.nav_notif_nbr_tache {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  width: 10%;
  height: 50%;
  background-color: #f2f2f2;
}

.nav_notif_nbr_tache img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.nav_notif_nbr_tache span {
  float: right;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  font-size: 0.7rem;
  font-weight: bolder;
  width: 40%;
  height: 75%;
  background-color: #c31a00;
}

.nav_notif_user_panel {
  cursor: pointer;
  border-radius: 5px;
  width: 10%;
  height: 50%;
  background-color: #f2f2f2;
  margin-right: 20px;
}

.nav_notif_user_panel img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* ________________________________________ conteneur de tout les coter _______________________________ */

.header_bottom {
  display: flex;
  height: 92%;
  /* background-color: rgb(38, 31, 228); */
}

/* ________________________________________ menu coter gauche _______________________________ */

.header_bottom_gauche {
  height: 100%;
  width: 15%;
  background-color: #f2f2f2;
}

.header_bottom_gauche_top {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20%;
  /* background-color: #270ee6; */
}

.header_bottom_gauche_top_centre {
  display: flex;
  width: 80%;
  height: 50%;
  /* background-color: #2a8e2f; */
}

.header_bottom_gauche_top_centre_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  /* background-color: #f5e903; */
}

.header_bottom_gauche_top_centre_left_photo {
  border-radius: 100%;
  width: 70%;
  height: 95%;
  background-color: #373737;
}

.header_bottom_gauche_top_centre_left_photo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.header_bottom_gauche_top_centre_rigth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  /* background-color: #0fabb0; */
}

.header_bottom_gauche_top_centre_rigth_nom {
  width: 100%;
  height: 40%;
  /* background-color: #12b00f; */
}

.header_bottom_gauche_top_centre_rigth_nom p {
  width: 100%;
  height: 100%;
  /* background-color: #b01f0f; */
}

.header_bottom_gauche_bottom {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 80%;
  /* background-color: #d52323; */
}

.header_bottom_gauche_bottom_centre {
  height: 100%;
  width: 90%;
  /* background-color: #17a2c4; */
}

.header_bottom_gauche_bottom_centre_menu {
  border-radius: 5px;
  background-color: rgb(227, 227, 224);
  text-align: center;
  cursor: pointer;
}

.header_bottom_gauche_bottom_centre_menu p {
  background-color: rgb(0, 243, 97);
  border-radius: 5px;
}

.header_bottom_gauche_bottom_centre_menu_div_ul {
  /* background-color: rgb(0, 243, 97); */
  margin-top: 10px;
  display: none;
}

.header_bottom_gauche_bottom_centre_menu_div_ul li {
  margin-top: 10px;
}

.header_bottom_gauche_bottom_centre_menu_div_ul li:hover {
  background-color: rgb(0, 243, 97);
}

/* ______________________________________ menu coter centre ____________________________________________ */

.header_bottom_centre {
  height: 100%;
  width: 55%;
  /* background-color: rgb(87, 31, 228); */
}

.header_bottom_centre_contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
}

.header_bottom_centre_contain_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 25px;
  height: 80%;
  width: 95%;
  background-color: rgb(0, 0, 0);
}

.header_bottom_centre_contain_menu_ajuste {
  display: flex;
  height: 80%;
  width: 90%;
  /* background-color: rgb(43, 8, 182); */
}

.header_bottom_centre_contain_menu_gauche {
  color: beige;
  font-weight: bolder;
  height: 100%;
  width: 70%;
  /* background-color: rgb(182, 8, 8); */
}

.header_bottom_centre_contain_menu_gauche_ajuste {
  height: 100%;
  width: 100%;
  /* background-color: rgb(106, 0, 55); */
}

.header_bottom_centre_contain_menu_gauche p {
  color: rgb(186, 186, 186);
}

.header_bottom_centre_contain_menu_gauche h3 {
  font-weight: bolder;
}

.header_bottom_centre_contain_menu_gauche_form {
  margin-top: 10px;
  height: 20%;
  /* background-color: rgb(247, 8, 84); */
}

.header_bottom_centre_contain_menu_gauche form {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* background-color: rgb(247, 4, 190); */
}

.header_bottom_centre_contain_menu_gauche_form_div {
  cursor: pointer;
  border-radius: 5px;
  /* display: flex; */
  position: relative;
  height: 100%;
  width: 40%;
  background-color: #ffffff;
}

.header_bottom_centre_contain_menu_gauche_form_div .Categorie_selectioner {
  border-radius: 5px 5px 5px 5px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(11, 158, 146); */
}

.Categorie_selectioner p {
  color: rgb(0, 0, 0);
  padding-left: 5px;
  height: 80%;
  width: 75%;
  overflow: hidden;
  /* background-color: rgb(31, 158, 11); */
}

.icon_Categorie {
  border-radius: 5px 5px 5px 5px;
  width: 25%;
  height: 100%;
  background-color: rgb(205, 205, 205);
}

.Categorie_selectioner_icon {
  /* background: url("/src/img/icon/expand_arrow_26px.png") no-repeat;
  background-size: 15px;
  background-position: center; */
  width: 100%;
  height: 100%;
  /* background-color: rgb(205, 205, 205); */
}

.Categorie_selectioner_icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 15%;
}

.Categorie_selectioner_liste {
  border-radius: 5px 5px 5px 5px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
  height: 120px;
  width: 100%;
  background-color: #373737;
  position: absolute;
}

.Categorie_selectioner_liste_header {
  height: 75%;
  width: 100%;
  overflow-y: auto;
}

.Categorie_selectioner_liste_header ul li:hover {
  background-color: rgb(0, 243, 97);
  color: #000000;
}

.Categorie_selectioner_liste_header ul li {
  padding-left: 5px;
}

.afficheCategorie {
  display: block;
}

.Categorie_selectioner_liste_footer {
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-between;
  height: 25%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.953);
}

.Categorie_selectioner_liste_footer input {
  padding-left: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgb(31, 158, 11); */
}

.Categorie_selectioner_liste_footer_icon_add {
  border-radius: 0px 5px 5px 0px;
  background: url("/src/img/icon/plus_math_30px.png") no-repeat;
  background-size: 15px;
  background-position: center;
  width: 20%;
  height: 100%;
  background-color: rgb(205, 205, 205);
}

.header_bottom_centre_contain_menu_gauche_form form > input {
  /* background-color: rgb(255, 166, 0); */
  width: 50%;
}

.header_bottom_centre_contain_menu_gauche_form2 {
  border-radius: 5px 5px 5px 5px;
  display: flex;
  margin-top: 17px;
  height: 25%;
  background-color: rgb(255, 255, 255);
}

.header_bottom_centre_contain_menu_gauche_form2 textarea {
  outline: none;
  height: 100%;
  width: 90%;
  resize: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding-top: 5px;
  padding-left: 5px;

  overflow: auto;
}

.header_bottom_centre_contain_menu_gauche_form2 .icon_add {
  border-radius: 5px 5px 5px 5px;
  width: 10%;
  height: 100%;
  background-color: rgb(205, 205, 205);
}

.header_bottom_centre_contain_menu_gauche_form2 .icon_add img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15%;
}

.header_bottom_centre_contain_menu_gauche_form2 input[type="submit"] {
  height: 100%;
  width: 15%;
}

.header_bottom_centre_contain_menu_droite {
  height: 100%;
  width: 30%;
}

.header_bottom_centre_contain_menu_droite img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header_bottom_centre_bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60%;
  width: 100%;
  /* background-color: rgb(250, 16, 16); */
}

.header_bottom_centre_bottom_centrer {
  height: 100%;
  width: 95%;
  /* background-color: rgb(144, 141, 141); */
}

.header_bottom_centre_bottom_recherche {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  height: 20%;
  width: 100%;
  /* background-color: rgb(217, 232, 1); */
}

.header_bottom_centre_bottom_recherche_et_categorie {
  display: flex;
  margin-top: 10px;
  height: 40%;
  width: 68%;
  justify-content: space-between;
  /* border-radius: 25px; */
  border: none;
  /* background-color: rgb(248, 80, 8); */
}

.header_bottom_centre_bottom_recherche_et_categorie input {
  height: 100%;
  width: 50%;
  border: none;
  border-radius: 20px;
}

.header_bottom_centre_bottom_centrer_listeDesTaches {
  overflow-y: auto;
  height: 80%;
  width: 100%;
  /* background-color: rgb(111, 111, 10); */
}

.stylePourLa_listeDesTaches {
  transition: all 0.5s ease;
  margin-top: 15px;
  height: 25%;
  width: 68%;
  border-radius: 5px;
  border: none;
  background-color: rgb(227, 227, 224);
}

.divConteneurDinfo {
  display: flex;
  height: 100%;
  width: 100%;
}

.statueTache {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  /* background-color: rgb(249, 249, 7); */
}

.statueTache_cercle {
  border-radius: 100%;
  border: none;
  height: 30%;
  width: 40%;
  background-color: #373737;
}

.contenuDeTache {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 76%;
  /* background-color: rgb(0, 84, 181); */
}

.contenuDeTache_titreEtCategorie {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(57, 0, 181); */
  height: 35%;
  width: 100%;
}

.contenuDeTache_description {
  /* background-color: rgb(226, 2, 188); */
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.editerLaTache {
  background: url("/src/img/icon/edit_file_26px.png") no-repeat;
  background-size: auto;
  background-position: center;
  height: 100%;
  width: 7%;
  /* background-color: rgb(0, 157, 42); */
}

.effacerLaTache {
  height: 100%;
  width: 7%;
  /* background-color: rgb(0, 61, 230); */
}

.effacerLaTache img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 15%;
  /* background-color: rgb(230, 0, 0); */
}

.fall {
  transform: translateY(12rem) rotateZ(90deg);
  opacity: 0;
}

/* ______________________________________ menu coter droit _________________________________________ */

.header_bottom_droit {
  height: 100%;
  width: 30%;
  background-color: #373737;
}

.header_bottom_droit_containt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92%;
  width: 100%;
  /* background-color: #ae0d0d; */
}

.header_bottom_droit_centre {
  margin-top: 150px;
  text-align: center;
  /* align-items: center; */
  height: 60%;
  width: 80%;
  /* background-color: #1672a3; */
}

.header_bottom_droit_centre_text {
  color: white;
  font-size: 0.9rem;
  height: 30%;
  width: 100%;
  /* background-color: #5f0eeb; */
}

.header_bottom_droit_centre_text p {
  font-weight: bolder;
  margin-top: 10px;
}

.header_bottom_droit_centre_text input {
  background-color: rgb(0, 243, 97);
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.header_bottom_droit_centre_image {
  margin-top: 20px;
  height: 70%;
  width: 100%;
}

.header_bottom_droit_centre_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.header_bottom_droit_bottom {
  color: #373737;
  font-size: 1em;
  text-align: center;
  height: 8%;
  width: 100%;
  background-color: rgb(227, 227, 224);
}

.footer_bas_copyright {
  height: 50%;
}

.footer_bas_credits {
  /* background-color: rgb(23, 208, 69); */
  height: 50%;
}

/* _______________________________________ style pour js  _________________________________________ */

.choixCategorie {
  position: absolute;
  top: 0;
  height: 130px;
  width: 150px;
  background-color: #ff0505;
}

.tache_completer {
  border-radius: 5px;
  border: none;
  background-color: rgb(53, 154, 97);
}

.statue_tache_completer {
  background-color: rgb(0, 243, 97);
}

/* ____________________________________________ filter design  ____________________________________ */
.header_bottom_centre_contain_menu_gauche_form_div_filter {
  cursor: pointer;
  border-radius: 5px;
  /* display: flex; */
  position: relative;
  height: 100%;
  width: 40%;
  background-color: #ffffff;
}

.header_bottom_centre_contain_menu_gauche_form_div_filter
  .Categorie_selectioner_filter {
  border-radius: 5px 5px 5px 5px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(11, 158, 146); */
}

.Categorie_selectioner_filter p {
  color: rgb(0, 0, 0);
  padding-left: 5px;
  height: 80%;
  width: 75%;
  overflow: hidden;
  /* background-color: rgb(31, 158, 11); */
}

.icon_Categorie_filter {
  border-radius: 5px 5px 5px 5px;
  width: 25%;
  height: 100%;
  background-color: rgb(205, 205, 205);
}

.Categorie_selectioner_icon_filter {
  width: 100%;
  height: 100%;
  /* background-color: rgb(205, 205, 205); */
}

.Categorie_selectioner_icon_filter img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.Categorie_selectioner_liste_filter {
  border-radius: 5px 5px 5px 5px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
  height: 120px;
  width: 100%;
  background-color: #373737;
  position: absolute;
}

.Categorie_selectioner_liste_header_filter {
  height: 75%;
  width: 100%;
  overflow-y: auto;
}

.Categorie_selectioner_liste_header_filter ul li:hover {
  background-color: rgb(0, 243, 97);
  color: #000000;
}

.Categorie_selectioner_liste_header_filter ul li {
  padding-left: 5px;
}

.afficheCategorie_filter {
  display: block;
}

.Categorie_selectioner_liste_footer_filter {
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-between;
  height: 25%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.953);
}

.Categorie_selectioner_liste_footer_filter input {
  padding-left: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgb(31, 158, 11); */
}

.Categorie_selectioner_liste_footer_icon_add_filter {
  border-radius: 0px 5px 5px 0px;
  background: url("/src/img/icon/plus_math_30px.png") no-repeat;
  background-size: 15px;
  background-position: center;
  width: 20%;
  height: 100%;
  background-color: rgb(205, 205, 205);
}

/* ___________ autre  _______________ */

.masquerElement {
  display: none;
  /* background-color: rgb(147, 15, 15); */
}

.demiLargeurElement {
  width: 50%;
}

/* ___________ autre  _______________ */

::-webkit-scrollbar {
  width: 3.5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(to top, #373737, rgb(227, 227, 224));
}
