.menu{
  width: 100%;
  height: 40px;
  background-color: rgb(54, 63, 155);
}

.stylePourLa_listeDesTaches{
  width: 100%;
  height: 100%;
  background-color: rgb(132, 170, 107);
}

.stylePourLa_listeDesTaches ul{
  background-color: rgb(42, 16, 194);

}

.stylePourLa_listeDesTaches ul li{
  display: inline-block;
  background-color: rgb(192, 2, 113);
  vertical-align: top;
  position: relative;
}

.stylePourLa_listeDesTaches ul li p{
  display: block;
  background-color: rgb(215, 238, 15);
}

.stylePourLa_listeDesTaches ul li:hover .sous_menu{
  display: block;
  background-color: rgb(193, 85, 35);

}

/* .stylePourLa_listeDesTaches li ul{
 
  background-color: rgb(35, 193, 43);
  display: block;
} */

.sous_menu{
  margin-top:10px;
  display: none;
  position: absolute;
}

.sous_menu li{
  display: block;
  
}

.sous_menu li:hover{
  display: block;
  background-color: rgb(223, 10, 10);
}


